<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
            box-sizing: border-box;
        }

        .table td.vert-align {
            vertical-align: middle;
        }

        th, td {
            min-width: 158px;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        .table-striped > tbody > tr:nth-of-type(2n+1) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                {{#each QueryHeaderRow}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        {{#each QueryData}}
        <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </table>
</body>
</html>