.collapseRule {
    margin-top: 11px;
}

.relative {
    position: relative;
}
li.isPanelButton {
    cursor: pointer;
    color: #337ab7;

    &.active {
        cursor: default;
    }
}
.btnRightCont {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    & .endButton {
        page-break-after:always;
    }
    
    & .nextLine {
        flex: 1 1 100%;
    }
    & .alert {
        margin-bottom: 0;
    }
}
div.addEntryEntry {
    margin-top: 10px;
    display: flex;
}

label.addEntryLbl {
    flex: 0 0 auto;
    margin-right: 20px;
    line-height: 2.2;
    font-weight: 700;
}

span.description {
    flex: 0 0 180px;
    line-height: 220%;
    margin-left: 20px;
}

input.addEntryInput {
    flex: 1 1 auto;
}

#passwordColl {
    // display:block;
}
