@font-face {
  font-family: orkney;
  font-weight: normal;

  src: url("../fonts/Orkney Regular.woff2");
}

@font-face {
  font-family: orkney;
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Orkney Regular Italic.woff2");
}

@font-face {
  font-family: orkney;
  font-weight: bold;

  src: url("../fonts/Orkney Bold.woff2");
}

@font-face {
  font-family: Inconsolata;
  font-weight: 200;

  src: url("../fonts/Inconsolata.otf");
}

body {
  font-family: orkney, sans-serif;
}

.modal.fade.ui-draggable-dragging {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

#idSelection {
  overflow: hidden;
  left: 35%;
  bottom: auto;
  right: auto;
  & .modal-header {
    cursor: grab;
    //&:active {
    //  cursor: grabbing;
    //}
  }
}

hr.smallSeparator {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

div.anim-checkbox {
  font-size: 16px;
}

.btn {
  font-family: orkney, sans-serif;
}

.container-fluid {
  padding-right: calc(9% + -40px);
  padding-left: calc(9% + -40px);
}

li.isPanelButton {
  cursor: pointer;
  color: #337ab7;

  &.active {
    cursor: default;
  }
}

div.addEntryEntry {
  margin-top: 10px;
  display: flex;
  font-family: Inconsolata, monospace;
}

label.addEntryLbl {
  flex: 0 0 auto;
  margin-right: 20px;
  line-height: 2.2;
  font-weight: 700;
}

span.description {
  flex: 0 0 180px;
  line-height: 220%;
  margin-left: 20px;
}

input.addEntryInput {
  flex: 1 1 auto;
}

.borderfy {
  border: black thin solid;
}

.table td.vert-align {
  vertical-align: middle;
}

.removeColBtns {
  margin-left: 5px;
  color: red;
}

.titleRightSide {
  margin-top: 10px;
}

.innerTitle {
  margin-top: 15px;
}

div.mainContentBox {
  overflow: auto;
  position: relative; // Makes all the absolute elements scroll.
  max-height: 80vh;
}

div.resultsBox {
  overflow: auto;
  position: relative;
  max-height: 30vh;
}

#sideCol {
  margin-bottom: calc(80vh - 347px);
}

.buttonSelector {
  position: absolute;
}

.massEditBtns {
  margin-top: 10px;
}

th, td {
  min-width: 158px;

  &.editBtnGroup {
    min-width: 183px;
  }
}

.table td.report-text {
  font-size: 20px;
}

li.active > a {
  color: white;
}

.radio .cr {
  border-radius: 50%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

tr > td > div.show-on-hover {
  visibility: hidden;
  /*min-height: 30px;*/
}

tr:hover > td > div.show-on-hover {
  visibility: visible;
}

//Checkbox
.anim-checkbox label:after, .radio label:after {
  content: '';
  display: table;
  clear: both;
}

.anim-checkbox .cr, .radio .cr {
  position: relative;
  display: block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

div.anim-checkbox > label {
  display: block;
  margin-bottom: 0;
  /*margin-left: auto;
  margin-right: auto;*/
}

.anim-checkbox .cr .cr-icon, .radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.anim-checkbox label input[type="checkbox"], .radio label input[type="radio"] {
  display: none;
}

.anim-checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(0.25) rotateZ(0deg);
  opacity: 0;
  transition: all .1s ease-in;
}

.anim-checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.anim-checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;

  &.drop {
    color: #222;
    border-color: #222;
  }
}
